@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply w-screen h-screen;
}

body {
  @apply bg-backgroundPrimary w-full h-full lg:pl-10 lg:pt-10 pl-2 pt-2 pb-10 lg:pr-0 pr-2 overflow-x-hidden;
}


.content {
  @apply w-full h-full flex flex-row gap-0 relative;
}

nav {
  @apply order-2  w-1/6 fixed top-0 right-0 flex justify-center h-screen z-50;
}

.navbar {
  @apply w-full flex justify-center flex-col ;
}

.navbar .linkContainer {
  @apply flex justify-center flex-col;
}

main{
  @apply order-1 lg:w-5/6 w-full;
}

.left{
  @apply w-full h-full;
}

.clickableContainer{
  @apply w-full flex justify-center;
}

.clickableContainer>div {
  @apply w-fit;
}

.dotContainer {
  @apply w-full flex justify-center;
}

.navbar .dot {
  @apply xl:w-8 xl:h-8 rounded-full mt-1 m-0 border-solid border-2 w-5 h-5;
}

.connectorContainer
{
  @apply w-full h-10 mt-1 flex justify-center m-0;
}

.connector
{
  @apply w-2 border-dotted border-8 m-0 border-l-0 border-third;
}

.experience
{
  @apply text-white font-extralight lg:text-base text-xs;
}

.content{
  @apply w-full h-lvh ;
}

.introduction{
  @apply bg-backgroudSecondary rounded-sm mb-20 w-full p-1;
}

.nameContainer{
  @apply lg:w-full w-3/4 flex m-auto justify-center;
}

.nameContainer>h1{
  @apply w-fit lg:p-4 p-0.5 text-white lg:text-2xl lg:text-4xl text-xl mt-10 mb-10 text-center rounded-none lg:shadow-[1rem_1rem_0_#101010,-1rem_-1rem_0_#404040] shadow-[0.8rem_0.8rem_0_#101010,-0.8rem_-0.8rem_0_#404040] ;
}

.middleContainer{
  @apply flex flex-row gap-2;
}

.dragMe{
  @apply w-fit mr-auto lg:mt-20 mt-0 mb-auto ml-0;
}

.dragMe>p{
  text-shadow: black 1px 1px 1px;
  @apply w-fit text-center xl:text-5xl lg:text-3xl  lg:text-2xl text-lg text-third;
}

.mainImgContainer{
  @apply lg:w-fit w-full h-full m-auto  mt-4 bg-none;
}

.mainImgContainer>img{
  @apply w-full h-full;
}

.mainImgContainer:hover{
  @apply bg-backgroundFourth shadow-[1.25rem_1.25rem_0_#000000,-1.25rem_-1.25rem_0_#404040] rotate-2;
}

.introductionArrow{
  @apply xl:size-40 lg:size-32 size-10;
}

.individualIcon>svg{
  @apply lg:size-20 size-8;
}

.iconContainer{
  @apply flex flex-row m-auto mt-0 mb-0 w-fit p-0 gap-8 z-10 flex-wrap ;
}

.secondParagraph{
  @apply block lg:mt-4 mt-0;
}

.authorName{
  text-shadow:black 1px 1px 1px;
  @apply text-third ;
}

.introductionArrow{
  @apply m-auto mt-5 w-fit -translate-x-1/2;
}

.introductionArrow:hover{
  @apply rotate-6;
}

.whoAmI{
  @apply lg:w-8/12 w-full mt-0 lg:m-auto  p-2;
}

.whoAmIContent>p{
  @apply text-white lg:text-xl text-sm ;
}

.whoAmIColored{
  @apply text-fourth;
}

.whoAmIContent{
  
  @apply lg:p-8 p-5 mb-5 mt-0 bg-backgroundThird rounded-md flex flex-row w-full relative;
}

.eurekaIcon{
  @apply lg:size-1/3 lg:m-auto lg:pr-4 lg:relative lg:top-0 lg:left-0 absolute -top-1/4 size-1/4;
}

@media (max-width:640px) {
  .eurekaIcon{
    left: 37.5%;
  }
}

.projects{
 
  @apply h-fit w-full mt-20 ;
}

.projectsHeader{
  clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  @apply w-fit bg-backgroundFifth lg:p-5 lg:pr-8 p-2 pr-4 mb-20 rounded-sm;
}

.projectsHeader>h2{
  @apply w-full lg:text-2xl text-lg;
}

.projectsHeader>h2>span{
  @apply text-primary;
}

.project{
  @apply w-full m-auto mb-32 flex lg:flex-row flex-col  lg:pb-0  relative lg:rounded-md rounded-lg bg-backgroundThird z-10 ;
}

.projectImageContainer{
  @apply m-auto w-auto h-full rounded-lg;
}

.projectImageContainer>video{
  @apply w-full h-full rounded-lg;
}

.projectContent{
  @apply bg-backgroundThird w-full rounded-lg;
}

.projectTitle{
  @apply text-third lg:text-2xl lg:text-3xl text-xl text-center mt-5;
}

.projectContent{
  @apply text-white text-lg text-center  w-fit z-10; 
}

.projectDescription{
  @apply lg:p-5 p-4 w-fit mb-5;
}

.projectDescription>p{
  @apply lg:text-xl text-sm;
}

.projectDescription>p>a{
  @apply text-blue-400 ; 
}

.projectDescription>p>a:hover{
  @apply text-fifth duration-500;
}

.projectDescription>p>span{
  @apply text-fourth;
}

.techIconsContainer{
  @apply flex flex-row justify-center gap-10 w-full mt-auto mb-auto lg:pb-0 lg:rounded-none pb-5 rounded-full;
}

.projectTechIcon>svg{
  @apply lg:size-12 size-8 ;
}

.projectTechIcon>svg:hover{
  @apply rotate-6 fill-blue-400;
}

.skills{
  @apply pt-10 pb-10 mt-48 mb-24  border-white border-solid w-full h-fit border-2 rounded-sm lg:pl-3 lg:pr-3 pr-1 pl-1 z-10;
}

.skillsTopLeft{
  /* Aligned to the center as the width should always remain 1/6 */
  left: 41.6%;
  @apply absolute -top-20  bottom-0 right-0 w-1/6 h-24 bg-third rounded-md -z-10 flex flex-row justify-center border-2 border-white;
}

.skillsTopLeft>svg{
  @apply size-full m-auto text-black;
}

.skills>h3{
  
  @apply  shadow-white lg:text-2xl text-lg text-center text-white bg-backgroundFourth   w-full pt-4 pb-4 rounded-md ;
}

.skillContainer{
  @apply flex flex-row w-full flex-wrap mt-10 mb-10 justify-center gap-20; 
}

.skill-card {
 @apply w-full m-3;
}

.skill {
  @apply w-full bg-backgroundFourth rounded-xl p-10 relative overflow-hidden ;
  transition: transform 0.6s;
}


.skill:hover {
  @apply opacity-70 duration-300 cursor-pointer;
}

.skill>h4 {
  @apply text-2xl text-white text-center z-50 relative;
}

.skillIcon {
  @apply size-6/12 m-auto animate-spin-slow z-50 relative;
}

.skillDescription{
  @apply text-lg text-white  text-center z-50 relative;
}


.leftCovering{
  clip-path: polygon(50% 0, 0 0, 0 30%);
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full bg-third z-0;
}

.rightCovering{
  clip-path: polygon(100% 70%, 100% 100%, 50% 100%);
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full bg-third z-0 ;
}

.experienceContainer{
  @apply bg-none w-full p-4 border-2 border-white rounded-md relative;
}

.experienceTop{
  left: 41.6%;
  @apply absolute -top-20  bottom-0 right-0 w-1/6 h-24 bg-third rounded-md  flex flex-row justify-center border-2 border-white;
}

.experienceTop>svg{
  @apply text-black size-full;
}

.jobPosition{
  @apply w-11/12 border-2 border-white m-auto p-0 mt-5 rounded-md bg-backgroudSecondary;
}

.jobPositionTopContainer{
  @apply flex flex-row justify-center mt-5 p-4; 
}

.jobPositionTopContainer>svg{
  @apply text-white size-8 ml-6;
}

.jobPositionTopContainer>svg:hover{
  @apply text-third duration-300 cursor-pointer;
}
.experienceTitle{
  @apply  ml-4 mr-4 mt-8 bg-backgroudSecondary rounded-md text-white lg:text-2xl text-xl text-center p-1 lg:p-3;
}

.positionName{
  @apply text-white text-center text-2xl;
}

.positionDuration{
  @apply text-gray-300 text-center;
}

.positionResponsibilitiesTitle{
  @apply text-white text-xl text-center mt-4;
}

.positionResponsibilities{
  @apply text-white text-lg text-center mt-2;
}

.positionRoleDescriptionTitle{
  @apply text-white text-xl text-center mt-4;
}

.positionRoleDescription{
  @apply text-white text-lg text-center mt-2;
}

.contact{
  @apply  mt-10 mb-10 p-5;
}

.contactTitle{
  @apply  text-center text-white text-2xl mb-10;
}

.socialsContainer{
  @apply text-white justify-center flex flex-row;
}

.socialsContainer>svg{
  @apply size-14;
}

.socialsContainer>svg:hover{
  @apply text-third duration-300 cursor-pointer;
}

.copyright{
  @apply text-xl text-center text-secondary mt-10 mb-10;
}

.projectBallTop{
  @apply absolute -top-10 bottom-0 lg:-left-10  lg:w-1/3  lg:h-40  bg-third -z-50 rounded-full;
}

.projectBallBottom {
  @apply absolute lg:-bottom-10 lg:-right-10    lg:w-1/3  lg:h-40  bg-third -z-50 lg:rounded-none rounded-full;
}
