@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-backgroundPrimary w-full h-full pl-10 pt-10 pb-10 pr-0 overflow-x-hidden;
}

.content {
  @apply w-full h-full flex flex-row;
}

nav {
  @apply order-2 w-1/6 fixed right-0 top-0 flex justify-center h-screen;
}

main{

  @apply order-1 w-5/6;
}

.left{
  @apply w-full h-full;
}
.navbar {
  @apply w-full flex justify-center flex-col mr-0;
}

.navbar .linkContainer {
  @apply flex justify-center flex-col;
}

.clickableContainer{
  @apply w-full flex justify-center;
}

.clickableContainer>div {
  @apply  w-fit;
}

.dotContainer {
  @apply w-full flex justify-center;
}

.navbar .dot {
  @apply w-8 h-8 rounded-full mt-1 m-0 border-solid border-2;
}

.connectorContainer
{
  @apply w-full min-h-14 mt-1 flex justify-center m-0;
}

.connector
{
  @apply w-2 border-dotted border-8 m-0 border-l-0 border-third;
}

.experience
{
  @apply text-white font-extralight text-base;
}

.content{
  @apply w-full h-lvh;
}

.introduction{
  @apply bg-backgroudSecondary rounded-sm mb-20;
}

.nameContainer{
  @apply w-full flex justify-center;
}

.nameContainer>h1{
  @apply w-fit p-4 text-white text-4xl mt-10 mb-10 text-center rounded-none shadow-[1.25rem_1.25rem_0_#101010,-1.25rem_-1.25rem_0_#404040] ;
}

.middleContainer{
  @apply flex flex-row gap-2;
}

.dragMe{
  @apply w-fit mr-auto mt-20 mb-auto ml-0;
}

.dragMe>p{
  text-shadow: black 1px 1px 1px;
  @apply w-fit text-center text-5xl text-third;
}
.mainImgContainer{
  @apply w-fit m-auto  mt-4 bg-none;
}

.mainImgContainer:hover{
  @apply bg-backgroundFourth shadow-[1.25rem_1.25rem_0_#000000,-1.25rem_-1.25rem_0_#404040] rotate-2;
}

.iconContainer{
  @apply flex flex-row m-auto mt-0 mb-0 w-fit p-5 gap-8 z-10 ;
}

.secondParagraph{
  @apply block mt-5;
}

.authorName{
  text-shadow:black 1px 1px 1px;
  @apply text-third ;
}

.introductionArrow{
  @apply m-auto mt-5 w-fit -translate-x-1/2;
}

.introductionArrow:hover{
  @apply rotate-6;
}

.whoAmI{
  @apply w-8/12 m-auto p-5;
}

.whoAmIContent>p{
  @apply text-white text-xl  ;
}

.whoAmIColored{
  @apply text-fourth;
}

.whoAmIContent{
  
  @apply p-7 mb-12 mt-0 bg-backgroundThird rounded-md flex flex-row w-full;
}

.eurekaIcon{
  @apply size-1/3 m-auto pr-4;
}

.projects{
 
  @apply h-fit w-full mt-20 ;
}

.projectsHeader{
  clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  @apply w-fit bg-backgroundFifth p-5 pr-8 mb-10 rounded-sm;
}

.projectsHeader>h2{
  @apply w-full text-2xl;
}

.projectsHeader>h2>span{
  @apply text-primary;
}

.project{
  @apply w-full m-auto mb-20 flex flex-row  rounded-md bg-backgroundThird;
}
.projectImageContainer{
  @apply m-0;
}

.projectContent{
  @apply bg-backgroundThird w-full rounded-md m-0 p-2;
}

.projectTitle{
  @apply text-third text-3xl text-center;
}

.projectContent{
  @apply text-white text-lg text-center mt-5 mb-5 w-fit;
}

.projectDescription{
  @apply p-5 w-fit;
}

.projectDescription>p{
  @apply text-lg;
}

.projectDescription>p>a{
  @apply text-blue-400 ; 
}

.projectDescription>p>a:hover{
  @apply text-fifth duration-500;
}

.projectDescription>p>span{
  @apply text-fourth;
}

.techIconsContainer{
  @apply flex flex-row justify-center gap-10 w-full mt-auto mb-auto;
}

.projectTechIcon>svg{
  @apply size-12 ;
}
.projectTechIcon>svg:hover{
  @apply rotate-6 fill-blue-400;
}

.skills{
  @apply pt-10 pb-10 mt-10 mb-10  border-white border-solid w-full h-fit border-2 rounded-sm pl-3 pr-3;
}

.skills>h3{
  
  @apply  shadow-white text-2xl text-center text-white bg-backgroundFourth   w-full pt-4 pb-4 rounded-md ;
}

.skillContainer{
  @apply flex flex-row w-full flex-wrap mt-10 mb-10 justify-center gap-20; 
}

.skill-card {
 @apply w-3/12 ;
}

.skill {
  @apply w-full bg-backgroundFourth rounded-xl p-10 relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.skill:hover {
  @apply opacity-70 duration-300 cursor-pointer;
}

.skill>h4 {
  @apply text-2xl text-white;
}

.skillIcon {
  @apply size-full;
}

